<!DOCTYPE html>
<html>
  <head>
    <title>Blog List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
  </head>
  <body>
    <div class="container">
      <% include nav %>
      <p></p>
      <% for(var i = 0; i < blogEntries.length; i++) { %>
        <div class="card border-primary m-5" style="width: 50%">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                <b><%= blogEntries[i].blogTitle %></b>
              </div>
              <div class="col">
                <small class="text-muted float-right"><%= blogEntries[i].author %></small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%= blogEntries[i].blogText %>
          </div>
          <div class="card-footer">
            <div class="col-sm">
              <ul class="nav justify-content-end nav-pills card-header-pills">
                <li class="nav-item">
                  <a class="nav-link" href="/blogs/edit/<%= blogEntries[i]._id %>">
                    <i class="fa fa-edit"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/blogs/delete/<%= blogEntries[i]._id %>">
                    <i class="fa fa-trash"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      <% } %>

    </div>
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </html>
